$theme : #72b03a;

.full-height {
  height: 100%;
}

html, body {
  @extend .full-height;
  padding: 0;
  margin: 0;

  body{
    background-color: $theme;
  }
}

.theme {
  background-color: $theme;
  color: white;
}

.container {
  @extend .full-height;
  width: 60%;
  margin: 0 auto;
  background-color: white;
}

.ui-select{
  width: 60%;
  margin : 0 auto;
  margin-top: 50px;
}