<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Handle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.17.1/select.css" />
    <script src="scripts/bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.7/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.17.1/select.js"></script>

</head>
<body ng-app="github" ng-cloak>
    <div class="container" ng-controller="handle">
        <ui-select class="ui-select" ng-keyup="getMatchingUsers($select.search)" ng-model="github.selected" ng-change="getSelectedUser(github.selected)">
            <ui-select-match style="width:100%;" placeholder="Search github user...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in github.list | filter: $select.search">
                <span ng-bind-html="item | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <div class="row center" ng-if="github.selected">
            <div class="col-sm-4"><img class="img-thumbnail fixed-width" ng-src="{{github.avatar_url}}" /></div>
            <div class="col-sm-4 title"><span>{{github.selected | uppercase}}</span></div>
            <div class="col-sm-4 title">{{github.followers}} followers</div>
        </div>
        <div class="followers">
            <div class=row ng-repeat="letter in github.follower.url" ng-if="$index%6==0">
                <div class="col-xs-2 padding"
                     ng-repeat="i in [$index,$index+1,$index+2,$index+3, $index+4, $index+5]">
                    <div ng-if="github.follower.url[i].avatar_url" style="text-align:center"><img class="img-thumbnail fixed-width" ng-src="{{github.follower.url[i].avatar_url}}"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <!--<button ng-if="areThereMoreFollowers()" ng-click="nextPage()" class="btn btn-success">Load more..</button>-->
            <button ng-class="(i+1 == github.page) ? 'button blue' : 'button'" ng-repeat="i in [] | range:github.followers/24" ng-if="areThereMoreFollowers()" ng-click="nextPage(i+1)" class="btn btn-success">{{i+1}}</button>
        </div>
    </div>



</body>
</html>