<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github User Search</title>
    <script src="scripts/bundle.min.js"></script>

</head>
<body ng-app="github" ng-cloak>
    <div class="container" ng-controller="handle">
        <loading></loading>
        <a href="/"><h1 class="heading"> Github User Search </h1></a>
        <ui-select class="ui-select" ng-keyup="getMatchingUsers($select.search)" ng-model="github.selected" ng-change="getSelectedUser(github.selected)">
            <ui-select-match placeholder="Search a github user...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in github.list | filter: $select.search">
                <span ng-bind-html="item | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <div class="row user" ng-if="github.selected">
            <div class="col-sm-4"><img class="img-thumbnail fixed-width" ng-src="{{github.avatar_url}}" /></div>
            <div class="col-sm-4 title"><span>{{github.selected | uppercase}}</span></div>
            <div class="col-sm-4 title">{{github.followers}} followers</div>
        </div>
        <div class="followers">
            <div class=row ng-repeat="letter in github.follower.url" ng-if="$index%github.number_of_followers_in_a_row==0">
                <div class="number-of-images image-padding"
                     ng-repeat="i in [] | range:$index:github.number_of_followers_in_a_row">
                    <div ng-if="github.follower.url[i].avatar_url"><img ng-click="getSelectedUser(github.follower.url[i].login)" class="img-thumbnail pointer follower-image" ng-src="{{github.follower.url[i].avatar_url}}"></div>
                </div>
            </div>
        </div>
        <div class="center" ng-if="areThereMoreFollowers()">
            <!--Uncomment the next line to change from load more to page numbers -->
            <!--<button ng-click="loadMore(i+1)" ng-repeat="i in [] | range:0:github.pages" ng-class="(i+1==github.page) ? 'btn page-selected' : 'btn button'">{{i+1}}</button>-->
            <button ng-click="loadMore()" class="btn btn-success button">Load more..</button>
        </div>
    </div>
</body>
</html>